<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <title>E-Commerce > <%= yield :title %></title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">E-Commerce</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="menu">
          <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
              <%= link_to "Home", root_path, { :class => 'nav-link'} %>
            </li>
            
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to "Log Out", logout_path, { :class => 'nav-link'} %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Log In", login_path, { :class => 'nav-link'} %>
              </li>
              
              <li class="nav-item">
                <%= link_to "Register", register_path, { :class => 'nav-link'} %>
              </li>
            <% end %>
            
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="content container">
      <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value.html_safe %></div>
      <% end %>
      
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
